.vscode
.idea
nbproject/private/
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
storage/cache/*
storage/logs/*
storage/templates_c/*
.project
.git
.settings
vendor/
tests/
config/
composer.lock
storage/